.footer {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 0 1rem;
  color: black;
  .sandroLogo img {
    width: 100px;
    margin: auto;
    display: block;
  }
  ul {
    list-style: none;
  }
  p {
    padding: 2rem 0;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 1.5px;

    display: flex;
  }
  p.footer__faume {
    padding: 5rem 0 2rem 0;
    font-weight: bold;
    letter-spacing: 1.5px;
    border-bottom: none;
    display: flex;
    text-decoration: none;
    a {
      text-decoration: none;
      color: black;
      font-size: 0.7rem;
      display: flex;
    }
  }
  .ulHidden {
    display: none;
  }
  .liOpen {
    display: flex;
    align-items: baseline;
    border-bottom: solid 1px #e6e6e6;
  }
  .liOpenOpen {
    display: flex;
    align-items: baseline;
    border-bottom: none;
  }
  .isOpen {
    display: block;
    font-weight: bold;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    li {
      padding: 0.9rem 0;
    }
  }
}
.footer li span {
  content: "";
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  width: 0.3rem;
  height: 0.3rem;
  margin-left: 1.8rem;
  margin-top: 0.2rem;
  display: block;
  transform: rotate(45deg);
}
.footer__faume a::after {
  content: "";
  border-right: solid 1px black;
  border-bottom: solid 1px black;
  width: 0.3rem;
  height: 0.3rem;
  margin-left: 1.8rem;
  margin-top: 0.2rem;
  display: block;
  transform: rotate(45deg);
}
